
#our-table{
  color: #61dafb;
}
.Heading{
  margin-top: 10px;
  padding: 10px;
}
.btn{
  margin:2px;
}
.table{
  margin: 30px;
  text-align: center;
  width: 1300px;
 
  
  
}
.input1{
  margin-left: 100px;
  width: 300px;
  height: 40px;
}
.input2 {
  margin-left: 80px;
  width: 300px;
  height: 40px;
}
.input3 {
  margin-left: 80px;
  width: 300px;
  height: 40px;
}
